# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entorno
.env
.venv/
venv/

# Tests
.pytest_cache/
test.db

# IDEs
.vscode/
.idea/

# Alembic
alembic/versions/__pycache__/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb